USE [master]
GO
/****** Object:  Database [IMS]    Script Date: 3/5/2018 8:04:42 PM ******/
CREATE DATABASE [IMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\IMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\IMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMS]
GO
USE [IMS]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[ContactNo] [bigint] NOT NULL,
	[Address] [varchar](50) NOT NULL,
	[Status] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[AddedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_AddedDate]  DEFAULT (getdate()) FOR [AddedDate]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_AddedDate]  DEFAULT (getdate()) FOR [AddedDate]
GO
/****** Object:  StoredProcedure [dbo].[Categories_GETALL]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Categories_GETALL]
as select * from Categories;
GO
/****** Object:  StoredProcedure [dbo].[Categories_GetById]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Categories_GetById]
@Id int
as Select * from Categories WHERE Id=@Id 
GO
/****** Object:  StoredProcedure [dbo].[Categories_Insert]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[Categories_Insert]
@Name varchar(50),
@Status bit
as Insert INTO Categories(Name,Status)
Values(@Name,@Status)
GO
/****** Object:  StoredProcedure [dbo].[Categories_Update]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Categories_Update]
@Id int,
@Name varchar(50),
@Status bit
as Update Categories set
Name=@Name, ModifiedDate=GETDATE(),
Status=@Status WHERE Id=@Id

GO
/****** Object:  StoredProcedure [dbo].[Products_Count]    Script Date: 3/5/2018 8:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Products_Count]
@total int out
as
begin
select @total=count(1) from Products
if(@total > 1)
begin
select @total
end
end
GO
USE [master]
GO
